@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap");

/*Reset*/
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}
/*Header*/

.nav-logo {
  width: 160px;
  height: 90px;
}
.menu-bg {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.menu {
  max-width: 980px;
  margin: 0 110px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #37373f;
}

.logo {
  width: 120px;
  height: 100px;
  margin: 0;
}

.header-content ul {
  flex-wrap: wrap;
  display: flex;
}
.header-content a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.header-content a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.is-active a {
  color: #fff;
  background-color: #37373f;
  font-weight: bold;
  border-radius: 12px;
}

.is-active a:hover {
  transform: scale(1.1);
}

/*Banner*/
.section-banner {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin-top: 120px;
  margin-bottom: 10px;
}
.section-banner img {
  width: 100vw;
  height: 570px;
}
.img-slider {
  position: relative;
  width: 100vw;
  height: 570px;

  background: #1d212b;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .section-banner {
    margin-top: 170px;
    margin-bottom: 100px;
  }
  .section-banner img {
    width: 100vw;
    height: 60vh;
  }
  .img-slider {
    width: 85vw;
    height: 420px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .section-banner {
    margin-top: 170px;
    margin-bottom: 100px;
  }
  .section-banner img {
    width: 100vw;
    height: 35vh;
  }
  .img-slider {
    width: 75vw;
    height: 250px;
  }
  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .section-banner {
    margin-top: 170px;
    margin-bottom: 100px;
  }
  .section-banner img {
    width: 100vw;
    height: 38vh;
  }
  .img-slider {
    width: 95vw;
    height: 250px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}
/*Saiba*/
.section-saiba {
  display: inline-block;
  max-width: 1160px;
  margin: 0 auto;
  padding: 60px 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.section-saiba h3 {
  color: #eca72c;
}
.section-img {
  flex: 1 1 280px;
  margin: 0 10px;
}

.info {
  flex: 2 1 300px;
  margin: 0 30px;
  text-align: center;
}
.info h1 {
  font-size: 2.5em;
  margin-top: 20px;
}
.info p {
  text-align: left;
  color: #37373f;
  font-size: 0.65;
}
/* Proposta */
.section-proposta {
  position: relative;
  text-align: center;
  max-height: 1042px;
}
.primeiro-fundo {
  background-color: #37373f;
  width: 100vw;
  height: 390px;
}
.segundo-fundo {
  background-image: url(../../assets/img/homeImg/imagemfundo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 490px;
}
.section-proposta h1 {
  position: relative;
  top: 100px;
  color: #eca72c;
  padding: 10px 0;
  font-size: 35px;
}
.section-proposta img {
  margin: 0 auto;
  width: 130px;
  height: 140px;
}
.section-proposta article {
  position: relative;
  bottom: 720px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  max-width: 1260px;
  justify-content: center;
  align-items: center;
}
.section-proposta div {
  text-align: center;
  padding: 15px 10px;
  background-color: #fff;
  width: 350px;
  height: 400px;
  border-radius: 5px;
  margin: 30px auto;
  z-index: 1;
}

/* Whatsapp*/
@media (max-width: 600px) {
  .whatsapp-link {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px !important;
    right: 20px !important;
    background-color: #25d366;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 9000;
    transform: scale(1);
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.whatsapp-link {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 1px 1px 2px #888;
  z-index: 9000;
  transform: scale(1);
  animation: pulse 2s infinite;
}

.whatsapp-link:hover {
  background-color: #fff;
  color: #22d829;
}

#whatsapp {
  position: relative;
  bottom: -13px;
}
/*Footer*/
.footer-bg {
  background-color: #37373f;
  position: relative;
  bottom: 0;
  width: 100%;
}

.container-footer div {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  color: #fff;
}
.logo-footer {
  width: 110px;
  height: 80px;
}
.footer-contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-contato h2 {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.footer-informacoes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-item {
  width: 290px;
}

.footer-informacoes div {
  font-size: 0.75em;
  display: block;
  padding: 10px;
}
#social-item {
  color: white;
  font-size: 28px;
  margin: 10px;
}
.social {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 180px;
  margin: 0 !important;
}
/* CRITICAS ======================================*/
.criticas {
  height: 600px;
  display: flex;
  margin: 0;
  background-color: #eca72c;
  padding: 120px;
  gap: 30px;
  flex-wrap: wrap;
}
.conteudo {
  margin-top: 60px;
  flex: 1 1 250px;
  background-color: #fff;
  border-radius: 8px;
}
.conteudo span {
  font-family: "IM Fell Double Pica SC", serif;
  color: #eca72c;
  font-size: 22px;
}
.conteudo p {
  margin-top: 40px;
  padding: 20px;
  color: #37373f;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.img-nome {
  color: #37373f;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.circulo {
  width: 110px;
  height: 110px;
}
/* FORMULARIO =================================== */
.fundo-form {
  color: #fff;
  padding: 40px 0;
  text-align: center;
  background-color: #37373f;
}
#fundoForm {
  background-image: url(../../assets/img/homeImg/imagemfundo-2.jpg);
  max-width: 100vw;
  height: 740px;
  background-size: cover;
  background-repeat: no-repeat;
}

#atuacao-direito {
  position: relative;
  width: 380px;
  height: 750px;
  margin: 0;
  display: flex;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 100px;
  padding: 20px;
}

.informacoes {
  margin-left: 20px;
  margin-right: 20px;
  color: #37373f;
}
.formulario-agendamento {
  display: flex;
  color: #37373f;
  justify-content: space-around;
  margin: 0 auto;
}
.form-name {
  font-weight: 700;
  display: flex;
  font-family: "Poppins";
  margin-left: 20px;
  margin-top: 30px;
  font-size: 35px;
  color: #37373f;
  margin-bottom: 40px;
  line-height: 27px;
  max-width: 100vw;
  flex-direction: column;
  margin-bottom: 70px;
}

form.form-contato label {
  width: 37px;
  height: 14px;
  left: 259px;
  top: 290px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #37373f;
}

.formulario-contato {
  width: 380px;
  height: 750px;
  background-color: #fff;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 100px;
  padding: 20px 20px;
  z-index: 1;
}
.contate-nos {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 800px;
}
.map {
  width: 320px;
  height: 250px;
  margin: 0 auto;
}
.contate-nos > div {
  margin: 5px 10px;
  display: flex;
}
.contate-nos > div img {
  margin: 0 10px;
}
form.form-contato input,
form.form-contato textarea {
  width: 100%;
  padding: 8px 5px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 2px solid #d1d1d1;
  font-family: "Open sans";
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid red;
}
.form_wrap {
  padding: 20px 0;
}
.form-icon {
  text-align: center;
  background-color: #37373f;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}
.nome-card1 {
  font-weight: 700;
  font-family: "Poppins";
  border-left-width: 27px;
  margin-left: 27px;
  margin-top: 30px;
  font-size: 35px;
  color: #37373f;
}

.info_tilte {
  font-family: "Poppins";
  margin-top: 20px;
  margin-left: 27px;
}

form.form-contato textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form-contato #btnSend {
  width: 180px;
  background: #f9b15d;
  padding: 10px;
  border: none;
  border-radius: 25px;
  align-self: flex-end;
  color: #fff;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form-contato #btnSend:hover {
  background: #f9b15d;
}
/*Especialidades*/
.section-especialidades {
  text-align: center;
  height: auto;
  padding-bottom: 30px;
  margin: 30px;
}
.section-especialidades h1 {
  padding: 10px;
  color: #eca72c;
  font-size: 34px;
}
.flex-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
}
.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  width: 280px;
  height: 280px;
  margin: 60px;
  background: #37373f;
  margin-top: 80px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 4px 1px rgba(255, 255, 255, 0.25);
}
.item img {
  margin: 0 auto;
  width: 68px;
  height: 68px;
}
.item h2 {
  color: #fff;
  margin: 10px;
}
.especialidades-button {
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  width: 330px;
  height: 70px;
  background: #eca72c;
  border: 1px solid #37373f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  opacity: 0.85;
}
.especialidades-button i {
  margin-left: 10px;
  width: 28px;
  height: 28px;
}

.especialidades-button:hover {
  opacity: 1;
  color: #37373f;
  transform: scale(1.1);
}
/*Fim formulario-contato*/
.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 300px;
  margin-bottom: 150px;
  width: 1000px;
}

.maps-nome {
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-maps h1 {
  font-size: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

.input::placeholder {
  color: #f9b15d;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.button {
  --color: #f9b15d;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  left: 100px;
  margin-top: 20px;
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

/*Novo Card FeedbackTeste*/
.column {
  float: left;
  width: 33.3%;
  padding: 10px 10px;
}
.nossos-service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Calibri";
  font-style: normal;
  font-size: 45px;
  line-height: 58px;
  color: black;
  margin-top: 150px;
}
.row {
  margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card1 {
  padding: 12px;
  text-align: center;
}
.card1:hover {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.4);
}
.card1 img {
  border-radius: 25px 25px 25px 25px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
/*fim card teste*/
.info-title img {
  margin-left: 27px;
}
/* card google maps */
.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 300px;
  margin-bottom: 150px;
  width: 1000px;
}

.maps-nome {
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-maps h1 {
  font-size: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fim card googlr maps     */
